:root {
  --dark-dark-blue: #263238;
  --text-body: #222222;
  --dark-blue: #273e47;
  --light-light-blue: #f7f9fa;
  --light-blue: #58a7c7;
  --white: #ffffff;
  --yellow: #f5b84a;
  --light-yellow: #fff0da;
  --green: #41d058;
  --light-green: #eafde7;
  --cyan: #3fcdc7;
  --light-cyan: #e6fdfc;
  --red: #ff6a6a;
  --light-red: #fceeee;
  --blue: #2483ff;
  --alt-light-blue: #e1eeff;
  --purple: #7228d1;
  --light-purple: #d4cefd;
  --pink: #e029b8;
  --light-pink: #fcdbff;
}
