#other-services {
  background-color: var(--light-light-blue);
  .container {
    @include resolution;
    .info-container {
      text-align: center;
      margin-bottom: 2rem;
    }
    .card {
      height: 12rem;
      display: block;
      margin: 1rem auto;

      h3 {
        -webkit-font-smoothing: subpixel-antialiased;
        filter: blur(0);
        -webkit-filter: blur(0);
        font-family: "Montserrat";
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }
}
