{% extends 'base.html' %}
{% load static %}
{%block title %}{% endblock %}

{% block content %}
<section id="home">
  <div class="container">
    <div class="info-container">
      <h1>Ânimo Consultoria Empresa Junior da Unilasalle - RJ</h1>
      <p>Consultorias que possibilitam uma visão ampla de planejamento e gerenciamento da sua empresa!</p>
      <div class="button">
        <a href="#">Agende Sua Reunião!</a>
      </div>
    </div>
    <div class="ilustration-container">
      <img src="{% static 'src/assets/img/intro-illustration.png' %}" alt="Ilustração de Organizão">
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="info-container">
      <h2>Serviços</h2>
      <p>Conheça um pouco sobre nossos serviços!</p>
    </div>
    <div class="cards-container">
      {% for service in services %}
      <div class="card">
        <a href="/service/{{service.slug}}">
          <div class="icon-container">
            <i class="icon-{{service.icon}}"></i>
          </div>
          <h3>{{service.title}}</h3>
          <p data-textsize>{{service.description}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="info-container">
      <h2>Sobre a Ânimo</h2>
      <p>Somos uma associação civil sem fins lucrativos, constituída por alunos dos cursos de graduação do Centro Universitário LaSalle-RJ em Niterói.</p>
      <p>Nosso objetivo é proporcionar serviços de alto valor agregado a seus clientes e promover o desenvolvimento pessoal e profissional dos alunos.</p>
      <div class="button">
        <a href="./pages/about.html">Veja Mais...</a>
      </div>
    </div>
    <div class="img-container">
      <img src="{% static 'src/assets/img/gallery/semana-capac.jpg' %}" alt="Time Ânimo na semana de capacitação">
    </div>
  </div>
</section>
<section id="partners">
  <div class="container">
    <h2>Nossos Parceiros</h2>
    <div class="glide" data-glide="index">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for partner in partners %}
          <li class="glide__slide">
            <a href="{{partner.url}}" class="slide-item" target="_blank">
              <img src="{% static 'src/assets/img/partners/' %}{{partner.imagePath}}.png" alt="Parceiro - {{partner.name}}">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]"></div>
    </div>
</section>
{% endblock %}