{% extends 'base.html' %}
{%block title %}{% endblock %}

{% block content %}
<section id="service-content">
  <div class="container">
    <span>Aprendendo mais sobre:</span>
    <div class="info-container">
      <h1>{{thisService.title}}</h1>
      <p>{{thisService.info}}</p>
    </div>
    <div class="methodology-container info">
      {% if thisService.title == 'Desenvolvimento de Sites/Sistemas' %}
      <h2>Tecnologias Utilizadas</h2>
      {% else %}
      <h2>Metodologias Utilizadas</h2>
      {% endif %}
      <p>{{thisService.methodology}}</p>
    </div>
    <div class="help-container info">
      <h2>Como Podemos Ajudar a Sua Empresa?</h2>
      <p>{{thisService.howhelp}}</p>
    </div>
    <div class="button">
      <a href="#">Agende uma Reunião!</a>
    </div>
  </div>
</section>
<section id="other-services">
  <div class="container">
    <div class="info-container">
      <h2>Outros Serviços</h2>
    </div>
    <div class="glide" data-glide="services">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for service in services%}
          <li class="glide__slide">
            <a href="{{service.slug}}">
              <div class="card">
                <div class="icon-container">
                  <i class="icon-{{service.icon}}"></i>
                </div>
                <h3>{{service.title}}</h3>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="glide__bullets" data-glide-el="controls[nav]"></div>
    </div>
</section>
{% endblock %}